 <h1><%= @member.name %></h1>


 <table>
  <tr>
    <th>email</th>
    <th></th>
    <th>DOB</th>
    <th></th>
    <th>Phone</th>
    <th></th>
    <th>Premium</th>
  </tr>
  <tr>
    <td> <%= @member.email %> </td>
    <td></td>
    <td><%= @member.dob %></td>
    <td></td>
    <td><%= @member.phone %></td>
    <td></td>
    <td><%= @member.premium %></td>
  </tr>
</table>

 <h2>Classes:</h2>
 <%= @member.all_gym_classes[0].name %>: <%= @member.all_gym_classes[0].hour %> 
