 <h1><%= @member.name %></h1>


 <table>
  <tr>
    <th>email</th>
    <th></th>
    <th>DOB</th>
    <th></th>
    <th>Phone</th>
    <th></th>
    <th>Premium</th>
  </tr>
  <tr>
    <td> <%= @member.email %> </td>
    <td></td>
    <td><%= @member.dob %></td>
    <td></td>
    <td><%= @member.phone %></td>
    <td></td>
    <td><%= @member.premium %></td>
  </tr>
</table>



 <ul>
  <% @member.all_gym_classes.each do |gymclass| %>
  <p><%= gymclass.name %>: <%= gymclass.day_of_week %> <%= gymclass.hour %></p>
  </form>
  <% end %>
</ul>

<form method="get" action="/members/<%= @member.id %>/edit">
  <input type="submit" value="Edit member"/>
</form>


<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="submit" value="Delete member"/>
</form>
