<h1><%= @gymclass.name %></h1>
<h2><%= @gymclass.day_of_week %> : <%= @gymclass.hour %> </h2>
<p>Capacity: <%= @gymclass.capacity %></p>
<p>Personal Trainer: <%= PersonalTrainer.find_by_id(@gymclass.pt_id).name %></p>

<form method="get" action="/gymclasses/<%= @gymclass.id %>/edit">
  <input type="submit" value="Edit classes"/>
</form>


<form method="post" action="/gymclasses/<%= @gymclass.id %>/delete">
  <input type="submit" value="Delete classes"/>
</form>
<ul>


<% members = @gymclass.all_members %>
<% members.each do |member| %>
<li><%= member.name %> </li>
<% end %>
</ul>
